.components {
  margin-left: 10px;
}
.components .nav-item a {
  border-radius: 5px;
  padding: 2px 10px 2px 10px;
}

.components .nav-item a:hover {
  background-color: #306bffd2;
  font-weight: 900;
  transition: 0.5s;
  color: white;
}
.active-link {
  background-color: #306bffd2 !important;
  font-weight: 900;
  color: white;
}

.utilities {
  margin-right: 10px;
}
.nav-list {
  display: flex;
  flex-direction: row;
  width: 100%;
}
button:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f7f7f7;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: #dedede;
  border-radius: 20px;
}
.main {
  margin-bottom: 50px;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.user-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.profile-pic-group {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: fit-content;
}
.profile-pic-group img {
  height: 160px;
  width: 160px;
  border-radius: 80px;
  box-shadow: 0px 0px 10px 0px black;
  z-index: 1;
}
.updatePhotoBtn {
  background-color: transparent;
  padding: 0px 2px 0px 0px;
  box-shadow: none;
  position: absolute;
  align-self: flex-end;
  border: 1px solid gray;
  z-index: 0;
  color: rgb(202, 201, 201);
}
.updatePhotoBtn:hover {
  box-shadow: 0px 0px 10px 0px black;
  background-color: white;
  color: rgb(107, 107, 107);
  transition: 0.5s;
  z-index: 2;
}
.infos {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.info-details-group {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  width: 100%;
}
.profile-content {
  padding-left: 20px;
}
.one-card {
  margin-bottom: 10px;
}
.img-avatar {
  height: 40px !important;
  width: 40px !important;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgb(61, 61, 61);
}
.event-owner-img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 0px rgb(61, 61, 61);
}
.custom-card-header {
  height: 80px;
}
.custom-card-image {
  height: 225px;
}
.custom-card-content {
  height: 250px;
}
.instructions {
  height: 100px;
}
.instructions .description-title {
  margin-bottom: 10px !important ;
  font-size: 14px;
}
.content-card-description {
  max-height: 70px;
  overflow-y: scroll;
}
.content-card-tags {
  max-height: 80px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.description-title {
  line-height: 1;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event-infos {
  display: flex;
  justify-content: space-around;
}
.event-infos .btn {
  width: 46%;
  padding: 0;
}
.event-infos .AP {
  width: 54% !important;
}
.card-buttons {
  display: flex;
  flex-direction: column;
}
.mat-tabs {
  width: 100%;
  margin: 0;
}
.update-event-btn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
a {
  cursor: pointer;
}
