.components {
  margin-left: 10px;
}
.components .nav-item a {
  border-radius: 5px;
  padding: 2px 10px 2px 10px;
}

.components .nav-item a:hover {
  background-color: #306bffd2;
  font-weight: 900;
  transition: 0.5s;
  color: white;
}
.active-link {
  background-color: #306bffd2 !important;
  font-weight: 900;
  color: white;
}
.utilities {
  margin-right: 10px;
}
/* page content */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
#form {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 5px;
  width: 80%;
}
#description {
  height: 60px;
  resize: none;
}

.input-group-text {
  width: 40px;
}
#price-input-group {
  display: flex;
}
#price-label {
  margin-left: 15px;
}
#add-event-btn {
  color: white;
  background-color: #bdc3c7;
}
#add-event-btn:focus {
  outline: none;
}
#tags-content {
  display: flex;
  justify-content: space-between;
}

.file {
  display: none;
}

#fileInputGroup {
  display: flex;
  justify-content: space-between;
}
a {
  cursor: pointer;
}
