<app-header
  [navbarBrandRouterLink]="['/home']"
  [fixed]="true"
  [navbarBrandFull]="{
    src: '../../assets/img/CodeEventLogo.png',
    width: 120,
    height: 36,
    alt: 'Event Code logo'
  }"
  [navbarBrandMinimized]="{
    src: '../../assets/img/CodeEventLogo.png',
    width: 120,
    height: 36,
    alt: 'Event Code logo'
  }"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="false"
  [mobileAsideMenuToggler]="false"
>
  <ul class="components nav navbar-nav d-md-down-none">
    <li class="nav-item px-1">
      <a class="nav-link" [routerLink]="['/home']">Home</a>
    </li>
    <li class="nav-item px-1">
      <a class="nav-link" [routerLink]="['/add-event']">Add Event</a>
    </li>
    <li class="nav-item px-1">
      <a class="nav-link active-link" [routerLink]="['/profile']">Profile</a>
    </li>
  </ul>
  <ul class="utilities nav navbar-nav ml-auto">
    <li
      *ngIf="connectedUser?.role == 'admin'"
      class="nav-item dropdown d-md-down-none"
      dropdown
      placement="bottom right"
    >
      <a
        class="nav-link"
        data-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
        dropdownToggle
        (click)="(false)"
      >
        <i class="fa fa-id-badge fa-lg"></i>
      </a>
      <div
        class="dropdown-menu dropdown-menu-right dropdown-menu-lg"
        *dropdownMenu
        aria-labelledby="simple-dropdown"
      >
        <div class="dropdown-header text-center">
          <strong>Admin space</strong>
        </div>
        <a [routerLink]="['/admin-space-users']" class="dropdown-item">
          <i class="icon-user-follow text-success"></i> Users
        </a>
        <a [routerLink]="['/admin-space-events']" class="dropdown-item">
          <i class="icon-chart text-info"></i> Events
        </a>
        <a [routerLink]="['/admin-space-tickets']" class="dropdown-item">
          <i class="icon-basket-loaded text-primary"></i> Tickets
        </a>
        <a [routerLink]="['/admin-space-tags']" class="dropdown-item">
          <i class="fa fa-hashtag text-warning"></i> Tags
        </a>
      </div>
    </li>
    <li
      class="nav-item notifications dropdown"
      dropdown
      placement="bottom right"
    >
      <a
        class="nav-link"
        data-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
        dropdownToggle
        (click)="(false)"
      >
        <i class="icon-bell"></i
        ><span class="badge badge-pill badge-danger">7</span>
      </a>
      <div
        class="
          dropdown-menu dropdown-menu-right
          notif-drop-down-menu
          dropdown-menu-lg
        "
        *dropdownMenu
        aria-labelledby="simple-dropdown"
      >
        <div class="dropdown-header text-center">
          <strong>Notifications</strong>
        </div>
        <a
          class="dropdown-item drop-down-notif"
          *ngFor="let notification of notifications"
        >
          <div class="message">
            <div class="py-3 mr-3 float-left">
              <div class="avatar">
                <img
                  *ngIf="notification.notifType === 'delete'"
                  src="assets/img/delete.png"
                  class="img-avatar"
                  alt="delete"
                />
                <img
                  *ngIf="notification.notifType === 'book'"
                  src="assets/img/book.png"
                  class="img-avatar"
                  alt="book"
                />
              </div>
            </div>
            <div>
              <small class="text-muted" *ngIf="notification.notifType == 'book'"
                >{{ notification.user.firstName }}
                {{ notification.user.lastName }}</small
              >
              <small
                class="text-muted"
                *ngIf="notification.notifType == 'delete'"
                >ADMIN</small
              >
              <small class="text-muted float-right mt-1">{{
                notification.time
              }}</small>
            </div>
            <div
              class="font-weight-bold"
              *ngIf="notification.notifType == 'book'"
            >
              {{ notification.event.title }}
            </div>
            <div
              class="small notifText text-muted"
              *ngIf="notification.notifType == 'book'"
            >
              {{ notification.user.firstName }} {{ notification.text }}
              {{ notification.event.title }}
            </div>
            <div
              class="small text-muted notifText"
              *ngIf="notification.notifType == 'delete'"
            >
              <p>{{ notification.text }}</p>
            </div>
          </div>
        </a>
      </div>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a
        class="nav-link"
        data-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
        dropdownToggle
        (click)="(false)"
      >
        <img
          *ngIf="selectedUser"
          src="{{ baseUrl }}/avatar/{{ connectedUser.avatar }}"
          class="img-avatar"
          alt="prifile-pic"
        />
      </a>
      <div
        class="dropdown-menu dropdown-menu-right"
        *dropdownMenu
        aria-labelledby="simple-dropdown"
      >
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a
          class="dropdown-item"
          [routerLink]="['/profile']"
          routerLinkActive="router-link-active"
          ><i class="fa fa-user"></i> Profile</a
        >
        <a class="dropdown-item" [routerLink]="['/settings']"
          ><i class="fa fa-wrench"></i> Settings</a
        >

        <a class="dropdown-item" (click)="logOut()"
          ><i class="fa fa-lock"></i> Logout</a
        >
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'xs'">
    <app-sidebar-nav
      [navItems]="navItems"
      [perfectScrollbar]
      [disabled]="sidebarMinimized"
    ></app-sidebar-nav>
  </app-sidebar>
  <!-- Main content -->
  <div class="main">
    <div class="user-infos">
      <div class="profile-pic-group">
        <img
          *ngIf="selectedUser"
          src="{{ baseUrl }}/avatar/{{ selectedUser.avatar }} "
          alt=""
        />
      </div>

      <div class="infos">
        <h1>
          <strong
            >{{ selectedUser?.firstName.toUpperCase() }}
            {{ selectedUser?.lastName.toUpperCase() }}</strong
          >
        </h1>
        <div class="info-details-group">
          <div class="info-details">
            <p><strong>Birthday :</strong> {{ selectedUser?.birthDate }}</p>
            <p><strong>Address :</strong> {{ selectedUser?.address }}</p>
            <p>
              <strong>Total created events :</strong>
              {{ selectedUser?.events.length }}
            </p>
            <p>
              <strong>Joined us :</strong> {{ joinedUsNumber }}
              {{ joinedUsText }}
            </p>
          </div>
        </div>
      </div>
      <hr
        style="width: 100%; margin: 0; background-color: rgb(173, 173, 173)"
      />
    </div>
    <div class="profile-content">
      <mat-tab-group
        mat-align-tabs="center"
        class="mat-tabs"
        style="min-height: 800px"
      >
        <mat-tab label="Not started events" class="mat-tab"
          ><div class="row cards">
            <div
              class="one-card col-12 col-md-4"
              *ngFor="let event of programmedEvents"
            >
              <mat-card class="example-card">
                <mat-card-header class="custom-card-header">
                  <div mat-card-avatar class="example-header-image">
                    <img
                      class="event-owner-img"
                      src="{{ baseUrl }}/avatar/{{ selectedUser?.avatar }}"
                      alt="Event Owner's avatar"
                    />
                  </div>

                  <mat-card-title>{{ event.title }}</mat-card-title>
                  <mat-card-subtitle
                    >{{ selectedUser.firstName }}
                    {{ selectedUser?.lastName }}</mat-card-subtitle
                  >
                </mat-card-header>
                <img
                  class="custom-card-image"
                  mat-card-image
                  src="{{ baseUrl }}/event-pics/{{ event.image }}"
                  alt="Event's image"
                />
                <mat-card-content class="custom-card-content">
                  <div class="instructions">
                    <h3 class="description-title">
                      <strong> Starting At :</strong>
                      <span>{{ event.startDateTime }}</span>
                    </h3>
                    <h3 class="description-title">
                      <strong> Ending At :</strong>
                      <span>{{ event.endDateTime }}</span>
                    </h3>
                    <h3 class="description-title">
                      <strong> Location :</strong
                      ><span>{{ event.location }}</span>
                    </h3>
                  </div>
                  <h3 class="description-title">
                    <strong> Description :</strong>
                  </h3>
                  <p class="content-card-description">
                    {{ event.description }}
                  </p>
                  <div class="content-card-tags">
                    <mat-chip-list class="example-chip">
                      <mat-chip
                        class="example-box"
                        *ngFor="let tag of event.tags"
                      >
                        #{{ tag.name }}
                      </mat-chip>
                    </mat-chip-list>
                  </div>
                </mat-card-content>
                <mat-card-actions class="card-buttons">
                  <div class="event-infos">
                    <button class="btn" *ngIf="event.eventType == 'Payable'">
                      Price: <strong>{{ event.price }} $</strong>
                    </button>
                    <button class="btn" *ngIf="event.eventType == 'Free'">
                      <strong> {{ event.eventType }}</strong>
                    </button>
                    <button class="btn AP">
                      Available:
                      <strong> {{ event.availableTicketNumber }}</strong>
                    </button>
                  </div>

                  <button
                    *ngIf="event.availableTicketNumber > 0"
                    class="btn btn-success"
                    (click)="openBookingDialog(event)"
                  >
                    Book
                  </button>
                  <button
                    *ngIf="event.availableTicketNumber == 0"
                    class="btn btn-outline-danger"
                    disabled
                  >
                    Out of stock
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div></mat-tab
        >
        <mat-tab label="In progress events" class="mat-tab">
          <div class="row cards">
            <div
              class="one-card col-12 col-md-4"
              *ngFor="let event of liveEvents"
            >
              <mat-card class="example-card">
                <mat-card-header class="custom-card-header">
                  <div mat-card-avatar class="example-header-image">
                    <img
                      class="event-owner-img"
                      src="{{ baseUrl }}/avatar/{{ selectedUser?.avatar }}"
                      alt="Event Owner's avatar"
                    />
                  </div>

                  <mat-card-title>{{ event.title }}</mat-card-title>
                  <mat-card-subtitle
                    >{{ selectedUser.firstName }}
                    {{ selectedUser?.lastName }}</mat-card-subtitle
                  >
                </mat-card-header>
                <img
                  class="custom-card-image"
                  mat-card-image
                  src="{{ baseUrl }}/event-pics/{{ event.image }}"
                  alt="Event's image"
                />
                <mat-card-content class="custom-card-content">
                  <div class="instructions">
                    <h3 class="description-title">
                      <strong> Starting At :</strong>
                      <span>{{ event.startDateTime }}</span>
                    </h3>
                    <h3 class="description-title">
                      <strong> Ending At :</strong>
                      <span>{{ event.endDateTime }}</span>
                    </h3>
                    <h3 class="description-title">
                      <strong> Location :</strong
                      ><span>{{ event.location }}</span>
                    </h3>
                  </div>
                  <h3 class="description-title">
                    <strong> Description :</strong>
                  </h3>
                  <p class="content-card-description">
                    {{ event.description }}
                  </p>
                  <div class="content-card-tags">
                    <mat-chip-list class="example-chip">
                      <mat-chip
                        class="example-box"
                        *ngFor="let tag of event.tags"
                      >
                        #{{ tag.name }}
                      </mat-chip>
                    </mat-chip-list>
                  </div>
                </mat-card-content>
                <mat-card-actions class="card-buttons">
                  <div class="event-infos">
                    <button class="btn" *ngIf="event.eventType == 'Payable'">
                      Price: <strong>{{ event.price }} $</strong>
                    </button>
                    <button class="btn" *ngIf="event.eventType == 'Free'">
                      <strong> {{ event.eventType }}</strong>
                    </button>
                  </div>

                  <button class="btn btn-warning">Event already started</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Finished events" class="mat-tab">
          <div class="row cards">
            <div
              class="one-card col-12 col-md-4"
              *ngFor="let event of finishedEvents"
            >
              <mat-card class="example-card">
                <mat-card-header class="custom-card-header">
                  <div mat-card-avatar class="example-header-image">
                    <img
                      class="event-owner-img"
                      src="{{ baseUrl }}/avatar/{{ selectedUser?.avatar }}"
                      alt="Event Owner's avatar"
                    />
                  </div>

                  <mat-card-title>{{ event.title }}</mat-card-title>
                  <mat-card-subtitle
                    >{{ selectedUser.firstName }}
                    {{ selectedUser?.lastName }}</mat-card-subtitle
                  >
                </mat-card-header>
                <img
                  class="custom-card-image"
                  mat-card-image
                  src="{{ baseUrl }}/event-pics/{{ event.image }}"
                  alt="Event's image"
                />
                <mat-card-content class="custom-card-content">
                  <div class="instructions">
                    <h3 class="description-title">
                      <strong> Starting At :</strong>
                      <span>{{ event.startDateTime }}</span>
                    </h3>
                    <h3 class="description-title">
                      <strong> Ending At :</strong>
                      <span>{{ event.endDateTime }}</span>
                    </h3>
                    <h3 class="description-title">
                      <strong> Location :</strong
                      ><span>{{ event.location }}</span>
                    </h3>
                  </div>
                  <h3 class="description-title">
                    <strong> Description :</strong>
                  </h3>
                  <p class="content-card-description">
                    {{ event.description }}
                  </p>
                  <div class="content-card-tags">
                    <mat-chip-list class="example-chip">
                      <mat-chip
                        class="example-box"
                        *ngFor="let tag of event.tags"
                      >
                        #{{ tag.name }}
                      </mat-chip>
                    </mat-chip-list>
                  </div>
                </mat-card-content>
                <mat-card-actions class="card-buttons">
                  <div class="event-infos">
                    <button class="btn" *ngIf="event.eventType == 'Payable'">
                      Price: <strong>{{ event.price }} $</strong>
                    </button>
                    <button class="btn" *ngIf="event.eventType == 'Free'">
                      <strong> {{ event.eventType }}</strong>
                    </button>
                  </div>

                  <button class="btn btn-danger">Finished</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<app-footer id="footer">
  <span>Zaher Bouzid &copy; september 2021.</span>
  <span class="ml-auto">
    <a href="https://github.com/zeherb/">Visit my github</a></span
  >
</app-footer>
