#main-body {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
#resetForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
}
.example-form-field {
  width: 100%;
}
.btn {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}
