<form [formGroup]="resetForm" id="resetForm" (ngSubmit)="submitForm(resetForm)">
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>New password</mat-label>
    <input matInput type="password" formControlName="password" />
    <mat-error *ngIf="resetForm.controls.password.errors?.required">
      Please enter your new <strong>password</strong>
    </mat-error>
    <mat-error
      *ngIf="
        resetForm.controls.password.errors?.pattern ||
        resetForm.controls.password.errors?.minlength
      "
    >
      Must contain at least <strong>4 characters 1 number and 1 letter</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Confirm new password</mat-label>
    <input matInput type="password" formControlName="confirmPassword" />
    <mat-error *ngIf="resetForm.controls.confirmPassword.errors?.required">
      Please <strong>confirm</strong> your password
    </mat-error>
  </mat-form-field>
  <button type="submit" class="btn btn-outline-success">Confirm</button>
</form>
