.components {
  margin-left: 10px;
}
.components .nav-item a {
  border-radius: 5px;
  padding: 2px 10px 2px 10px;
}

.components .nav-item a:hover {
  background-color: #306bffd2;
  font-weight: 900;
  transition: 0.5s;
  color: white;
}
.active-link {
  background-color: #306bffd2 !important;
  font-weight: 900;
  color: white;
}

.utilities {
  margin-right: 10px;
}
.nav-list {
  display: flex;
  flex-direction: row;
  width: 100%;
}
button:focus {
  outline: none;
}

.img-avatar {
  height: 40px !important;
  width: 40px !important;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgb(61, 61, 61);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f7f7f7;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: #dedede;
  border-radius: 20px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
a {
  cursor: pointer;
}
.page-title {
  font-weight: bold;
  color: rgb(66, 170, 255);
}
.content {
  margin-top: 10px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}
.according {
  width: 100%;
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn {
  display: flex;
  justify-content: space-between;
}
