<div id="main-body">
  <form
    [formGroup]="forgotForm"
    id="forgotForm"
    (ngSubmit)="submitForm(forgotForm)"
  >
    <h1>Reset password request</h1>
    <mat-form-field class="field" appearance="fill">
      <mat-label>Email</mat-label>
      <mat-icon matSuffix>mail</mat-icon>
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="Please enter your email here"
      />
      <mat-error *ngIf="forgotForm.controls.email.errors?.required">
        Please enter your <strong>Email</strong>
      </mat-error>
      <mat-error *ngIf="forgotForm.controls.email.errors?.email">
        Wrong <strong>Email</strong>
      </mat-error>
    </mat-form-field>
    <button class="btn btn-outline-success">
      Send
      <mat-icon>send</mat-icon>
    </button>
  </form>
</div>
